<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Arjion</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</head>

<body>
    <header class="text-center">
        <a th:href="@{/}">
            <h1 class="text-primary">Arjion</h1>
        </a>
        <h3 class="text-warning">[[${detailVO.archivo.nombre}]]</h3>
    </header>
    <section class="col-md-12">
        <hr>
    </section>
    <section>
        <span class="col-md-1 text-muted">Tamaño</span>
        <span class="col-md-11 text-muted">[[${detailVO.archivo.tamano}]] bytes</span>
        <span class="col-md-1 text-muted">Lenguaje</span>
        <span class="col-md-11 text-muted">[[${detailVO.archivo.lenguaje}]]</span>
        <span class="col-md-1 text-success">Metadatos</span>
        <span class="col-md-11 text-success"><ul><li th:each="meta : ${detailVO.archivo.metadata}"><span th:text="${meta.key}"></span>: <span th:text="${meta.value}"></span></li></ul></span>
        <span class="col-md-1 text-warning">Contenido</span>
        <pre class="col-md-11 text-warning">[[${detailVO.archivo.contenido}]]</pre>
        </div>
    </section>
    <section class="col-md-12">
        <hr>
    </section>
    <footer class="col-md-12 text-center">
        <span class="col-md-12">
            <a class="btn btn-primary" th:href="@{/}">Volver</a>
        </span>
        <span>2018</span>
    </footer>
</body>

</html>