<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Arjion</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</head>

<body>
    <header class="text-center">
        <a th:href="@{/}">
            <h1 class="text-primary">Arjion</h1>
        </a>
        <h3 class="text-warning">[[${documentoVO.count}]] archivos</h3>
    </header>
    <section class="text-center col-md-4 col-md-offset-4">
        <form class="form-horizontal form-label-left" method="post" enctype="multipart/form-data" novalidate="novalidate" th:action="@{/upload}"
            th:object="${documentForm}">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-file"></span>
                </span>
                <label class="input-group-addon custom-file">
                    <input type="file" name="archivos" class="custom-file-input" multiple="multiple" />
                    <span class="custom-file-control"></span>
                </label>
                <span class="input-group-addon">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-level-up"></span>
                    </button>
                </span>
            </div>
        </form>
    </section>
    <section class="col-md-12">
        <hr>
    </section>
    <section class="col-md-12">
        <div th:each="arc : ${documentoVO.archivos}" class="col-md-12">
            <span class="col-md-1 text-primary lead">Nombre</span>
            <span class="col-md-11 text-primary lead">[[${arc.nombre}]]</span>
            <span class="col-md-1 text-muted">Tamaño</span>
            <span class="col-md-11 text-muted">[[${arc.tamano}]] bytes</span>
            <span class="col-md-1 text-muted">Lenguaje</span>
            <span class="col-md-11 text-muted">[[${arc.lenguaje}]]</span>
            <span class="col-md-1 text-success">Metadatos</span>
            <span class="col-md-11 text-success"><ul><li th:each="meta : ${arc.metadata}"><span th:text="${meta.key}"></span>: <span th:text="${meta.value}"></span></li></ul></span>
            <span class="col-md-1 text-warning">Contenido</span>
            <pre class="col-md-11 text-warning">[[${arc.contenido}]]</pre>
            <span class="col-md-12">
                <hr>
            </span>
        </div>
    </section>
    <section class="col-md-12">
        <hr>
    </section>
    <section class="col-md-12 text-center">
        <div th:each="doc : ${documentoVO.documentos}">
            <div>
                <span class="col-md-12 text-primary">
                    <a th:href="@{'/detail'(nombre=${doc.nombre})}" class="lead">[[${doc.nombre}]]</a> -
                    <a th:href="@{'/download'(filename=${doc.nombre})}">download</a>
                    <br>[[${doc.tamano}]] bytes
                    <br>[[${doc.lenguaje}]]</span>
                <span class="col-md-12 text-success">[[${#strings.abbreviate(doc.metadata,200)}]]</span>
                <span class="col-md-12 text-warning">[[${#strings.abbreviate(doc.contenido,200)}]]</span>
            </div>
            <span class="col-md-12">
                <hr>
            </span>
        </div>
    </section>
    <footer class="col-md-12 text-center">
        <span>2018</span>
    </footer>
</body>

</html>